form{
    margin: 10rem;
    padding: 6rem;
    background-color: rgb(146, 98, 35);
}

input:focus {
    outline: unset;
}

.ng-valid {
    border-left: 3px solid green;
}

.ng-invalid {
    border-left: 3px solid red;
}  