<form [formGroup]="FormularioSignup">
    <div class="mb-3 form-row" >
        <div class="col">
          <label for="exampleInputEmail1" class="form-label"> nombre</label>
          <input type="text"  formControlName="nombre">
        </div>
        <div class="col">
          <label for="exampleInputEmail1" class="form-label"> Apellidos </label>
          <input type="text" formControlName="apellidos">
        </div>
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"> Email</label>
      <input type="email" formControlName="email"  formControlName="email" >
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password"  formControlName="pass">
    </div>

    
    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
  </form>