<!-- <form [formGroup]="FormularioSignup">
    <div class="mb-3 form-row" >
        <div class="col">
          <label for="exampleInputEmail1" class="form-label"> nombre</label>
          <input type="text"  formControlName="nombre">
        </div>
        <div class="col">
          <label for="exampleInputEmail1" class="form-label"> Apellidos </label>
          <input type="text" formControlName="apellidos">
        </div>
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"> Email</label>
      <input type="email" formControlName="email"  formControlName="email" >
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password"  formControlName="pass">
    </div>

    
    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
  </form> -->


  <form [formGroup]="FormularioSignup">

    <div class="divForm mb-3">
      <label> Nombre </label>
      <input type="text" class="form-control"  placeholder="Nombre" formControlName="nombre">
      
      <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="text-danger" >
        <div *ngIf="nombre.errors?.['required']"> 
          El nombre es obligatorio
        </div>
      </div>
    </div>

    <div class="divForm mb-3">
      <label> Apellidos </label>
      <input type="text" class="form-control"  placeholder="Apellidos" formControlName="apellidos">
      
      <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="text-danger" >
        <div *ngIf="nombre.errors?.['required']"> 
          El nombre es obligatorio
        </div>
      </div>
    </div>

    <div class="divForm mb-3">
      <label> Email </label>
      <input type="email" class="form-control"  placeholder="Enter email" formControlName="email">
      
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger" >
        <div *ngIf="email.errors?.['required']"> 
          El email es obligatorio
        </div>
        <div *ngIf="email.errors?.['email']">
          El email debe tener un formato valido
        </div>  
      </div>
    </div>
  
    <div class="divForm mb-3">
      <label> Contraseña</label>
      <input type="password" class="form-control" placeholder="Contraseña" formControlName="pass">
    
      <div *ngIf="password.invalid && (email.dirty || password.touched)" class="text-danger" >
        <div *ngIf="password.errors?.['required']"> 
          La contraseña es obligatoria
        </div>
      </div>
    </div>
  
    <div class="divForm">
    <button type="submit" (click)="sign()" class="btn btn-primary">Iniciar Sesión</button>
    </div>
  
  </form>  
  