<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Contenedor para alinear los elementos -->
    <a class="navbar-brand" href="/nohome">
      <img
        src="assets/img/logo.png"
        width="30"
        height="30"
        alt=""
        loading="lazy"
      />
      FiestApp
    </a>

    <!--BOTON VISTA MOVIL-->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!--BOTONS DEL NAVBAR-->
    <!-- menu hamburguesa -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="home">Inicio</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="search">Buscar</a>
        </li>

        <ng-container *ngIf="!user; else loggedInTemplate">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="auth/app-log-in">Iniciar Sesión</a>
          </li>

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="auth/app-sign-up">Registrarse</a>
          </li>
        </ng-container>

        <ng-template #loggedInTemplate>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">
              <img
                style="border-radius: 100%"
                *ngIf="user?.photoURL"
                [src]="user?.photoURL"
                alt=""
              />
              {{ user?.email }}
            </a>
          </li>

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="" (click)="logOut()">
              Cerrar Sesión
            </a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
