/* General navbar styles */
.navbar {
    background-color: #343a40; 
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
  }
  
  .navbar-brand img {
    margin-right: 10px; 
  }
  .navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: aqua; */
    /* position: relative; */
    position: absolute;
    right: 0;
    /* margin-right: -200rem; Mueve los elementos a la derecha */
}
  
  /* Navbar links */
  .navbar-nav .nav-item .nav-link {
    color: #ffffff; 
    margin: 0 8px;
    padding: 10px 25px; 
    transition: background-color 0.3s, color 0.3s; 
    height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-nav .nav-item .nav-link img{
    height: 50px;
    width: 50px;
    margin-right: 10px;
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    background-color: #495057; 
    color: #ffffff; 
  }
  

  /*VISTA MOBIL*/
  @media (max-width: 576px) {
    /* .navbar-nav {
      text-align: center; 
    } */
    .navbar-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }


    .navbar-nav .nav-item {
      margin-bottom: 10px;
    }
  }
  