/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/*font-family: 'Playfair Display', serif;*/

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
/*font-family: 'Bungee Spice', sans-serif;*/
body {
    background-color: rgb(119, 119, 119);
    color: white !important;
}

hr {
    border-color: white;
}

.puntero {
    cursor: pointer;
}

.img-circle {
    border-radius: 10%;
    width: 150px;
}

.card-title,
.card-text {
    color: black;
}

.badge {
    margin-left: 5px;
}

.btn-outline-success {
    margin-left: 5px;
}

.img-thumb {
    width: 50px;
    height: 50px;
}

.img-tab {
    width: 150px;
    height: 150px;
}

/*.td-album{
    background-color: rgb(61, 60, 59);
    display: flex;
    height: 150px;
    justify-content: end;
    align-items: center;
}*/
thead{

    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}

td{
    
    height: 160px;
    background-color: rgb(61, 60, 59);
    align-items: center;
    text-align: center;
    margin:0.5em;
    font-family: 'Playfair Display', serif;
    
}

.colorFontTable{
    color: white;
}

/*FORMULARIOS, CLASES DE CONTROL DE ESTADO*/
input:focus {
    outline: unset;
  }

/* .ng-valid:not(form).ng-touched {
    border-left: 5px rgb(0, 160, 0) ;
}

.ng-invalid:not(form).ng-touched {
    border-left: 5px rgb(255, 21, 21) ;
} */

/* .ng-invalid {
    border-left: 3px solid red;
} */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
