<div  class="card-columns mt-3 animate__animated animate__fadeIn">

  <div (click)="verArtista(item)" class="card puntero" *ngFor="let item of items">
    <img [src]="item.images | noimage" class="card-img-top border-primary" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">{{item.name}}</h5>
      <p class="card-text">
          <span class="badge badge-pill badge-primary text-center" *ngFor="let artist of item.artists">{{artist.name}}</span>
          <span class="badge badge-pill badge-secondary text-center"> 
            Nº Tracks: <span clas="badge badge-light text-center"> {{item.total_tracks}} </span>
          </span>
      </p>
    </div>
  </div>

</div>   
